.content {
  grid-area: c;
  padding: 18px 0 0 20px;
}
.content__title {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: title;
  color: #03a9f4;
  font-size: 18pt;
}

.post {
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: Roboto;
  font-size: 14pt;
}
.post p {
  color: #03a9f4;
  font-size: 18pt;
}
.post__input {
  height: 100px;
  background: #eeeeee;
  border: 0;
  font-family: Roboto;
  font-size: 14pt;
  color: #03a9f4;
  padding: 0 10px;
}
.post__button {
  display: flex;
  justify-content: flex-end;
}
.post__button button {
  height: 50px;
  width: 100px;
  margin: 20px 0;
  background: #03a9f4;
  color: #eeeeee;
  border: 0;
  font-size: 14pt;
}
.post__added {
  display: flex;
  flex-direction: column;
}
.post__message {
  display: flex;
  align-items: center;
  margin: 0 100px;
}
.post__photo img {
  width: 80px;
  height: auto;
}
.post__one {
  display: flex;
}
.post__two {
  display: flex;
}
